.sidebar-record-item:hover .sidebar-record-item-time,
.sidebar-record-item:hover .sidebar-record-item-mode {
  visibility: hidden;
}

.sidebar-record-item:hover .sidebar-record-item-delete {
  display: block;
}

.bg-gradient {
  background: linear-gradient(to right, #04a68a, #17aad9);
}

.text-gradient {
  --accent-gradient: linear-gradient(to right, #04a68a, #17aad9);
}
